/*box sizing*/
*, *:before, *:after{
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box ;
}

/*clearfix*/ 

.clearfix:before
,.clearfix:after{
	content: "";
	display: table;
}

.clearfix:after{
	clear:both;
}

.clearfix{
	*zoom:1;
}


/***********body and containers*********/
html, body{
	width: 100%;
	color:#131313;
	background-color: #fcfcfc;
	font-family: 'Oswald', sans-serif;
}

.parentcontainer{
	max-width: 1400px;
	margin:0 auto;
}

.container{
	max-width: 1400px;
	padding:0 5% 0;
	margin:0 auto;
}

p,blockquote{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin:0;
}

blockquote{
	line-height: 1.5em;
}

a{
	text-decoration: none;
}

ul{
	list-style: none;
	margin:0;
	padding:0;
}

ul li:last-child{
	margin:0;
}

/*************************buttons*************************/

button{
	background-color: transparent;
	border:none;
}

header nav button{
	display: none;
	position: absolute;
	top:0;
	right:0;
	z-index: 99999;
}

header.project nav button span{
	display: block;
		width: 19px;
		height: 3px;
		margin: 4px 0;
		border-radius: 10px;
		background-color: #fff;
		z-index: 99999;
		cursor: pointer;
}

header nav.homenav button span{
	display: block;
		width: 19px;
		height: 3px;
		margin: 4px 0;
		border-radius: 10px;
		background-color: #000;
		z-index: 99999;
		cursor: pointer;
}

.overview button
{
	color:#E6E7F6;
	margin:0 auto;
	display: block;
	margin-top: 2%;
	padding:3%;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 1.1em;
	background-color:#131313;
	border:none;
}

.view button{
	display: none;
}

a.site button {
	display: inline-block;
	color:#fcfcfc;
	border: solid 1px #fcfcfc;
	padding:0.5% 1% 0.5%;
	border-radius: 5%;
	margin-top:1%;
	margin-left: 5%;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 0.9em;
}

a.site button:hover{
	background-color: #fcfcfc;
	color: #6A5AF8;
	font-size: 1.2em;
	/*font-weight: 700;*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-in;
}

.overview button{
	width: 75%;
	float:right;
}

.otherwork button{
	font-family: 'Lato', sans-serif;
	text-align: center;
	text-transform: uppercase;
	color:#fcfcfc;
	border:solid 1px #fcfcfc;
	font-size: 0.9em;
	width: 200px;
	display: inline-block;
	padding: 5%;
}

.otherwork a:hover button
{
	color:#6A5AF8;
	background-color: #fcfcfc;
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-in;
}

/*************************hover and active states*************************/
.project nav a{
	color: #fcfcfc;
}

header nav ul li a.active
,.project nav li:hover a
,.otherwork a:hover{
	color:#ccc ;
}

header nav ul li:hover a
{
	color:#6A5AF8;
}

header.project button:hover span{
	background-color: #ccc;
}

a.site:hover{
	color:#6A5AF8;
}

.overview button:hover
,footer ul li:hover
 {
 	color:#fcfcfc;
	background-color:#6A5AF8;
}


.footerproj ul li:hover{
	color:#fcfcfc;
	background-color: #ccc;
}

button.activeb span{
	background-color: #EFE234;
}

/*************************header class added by js- fixed nav*************************/
.header{
	background-color: #131313;
	max-width: 1400px;
	/*margin:0 auto;*/
	-webkit-transition: all 0.3s ease-out;
	-moz-transition: all 0.3s ease-out;
	transition: all 0.3s ease-in;
}

.header nav ul li a{
	color:#EFE234;
}


.header nav ul li:hover a{
	color:#6A5AF8 ;
}

header.header  nav button span{
	background-color: #EFE234;
}

header.header nav button:hover span{
	background-color: #6A5AF8;
}
/*************************header*************************/

header{
	width: 100%;
	/*max-width: 1350px;*/
	/*margin:0 auto;*/
	max-width: 1400px;
	position: fixed;
	top:0;
	z-index: 999;
}

header img{
	padding-top:1%;
	padding-bottom: 1%;
	float:left;
	width: 3%;
}

header nav{
	position: relative;
	width: 70%;
	float:right;
	text-align: right;
}

header nav ul li{
	display: inline-block;
	margin:3% 1% 2%;	
	text-transform: uppercase;
}

header nav ul li a{
	color:#131313;
}

/*************************landing page*************************/
/*************************home*************************/

.home{
	margin:0 auto;
	background: url(../img/tinygrid.png) fixed;
	min-height: 700px;
	text-align: center;
	position: relative;
	overflow: hidden;
}

.home h1{
	font-size: 10em;
	color:#000;
	margin-top: 15%;
	margin-bottom: 3%;
	position: relative;
	z-index: 50;
}

.home h2{
	font-size: 2em;
	color:#131313;
	margin-bottom: 5%;
	position: relative;
	z-index: 999;
}

img.sketch{
	position: absolute;
	opacity: 0.1;
	width: 20%;
}

 img.sketch1{
	left:25%;
	top:10%;
}

 img.sketch2{
 	top:10%;
 	left:0%;
 	width: 25%;
 }

 img.sketch3{
 	top:8%;
 	left:45%;
 }

  img.sketch4{
  	top:65%;
 	left:25%;
 }

   img.sketch5{
   	top:60%;
 	left:45%;
 }

  img.sketch6{
   	top:60%;
 	right:0;
 }

  img.sketch7{
  	top:10%;
  	right:18%;
  	width: 20%;
  }

   img.sketch8{
  	top:10%;
  	right:5%;
  	width: 15%;
  }

 .arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	border-top: 20px solid #000;
	margin:0 auto;
	position: relative;
	z-index: 999;
}

.arrow-down:hover{
	border-top: 20px solid #6A5AF8;
}

/*************************work*************************/

.work{
	padding-top:5%;
	padding-bottom:10%;
	background-color: #131313;
}

.work article{
	border: solid 2px #fcfcfc;
	min-height: 300px;
}

.work h1
,.description h1
,.testimonial h1{
	text-transform: uppercase;
	color:#fcfcfc;
	margin:5% 0 5%;
	font-size: 2em;
	font-weight: 300;
}

.work h4
,.work h5{
	margin:5%;
	text-transform: uppercase;
}

.work h4{
	color:#fcfcfc;
	font-weight: 300;
	font-size: 1.3em;
	/*font-family: 'Lato', sans-serif;*/
}

 .work h5{
	color:#fcfcfc;
	font-weight: 300;
	font-family: 'Lato', sans-serif;
}

.work ul li{
	vertical-align: top;
	text-align: center;
	display: inline-block;
	/*background-color: #000;*/
	width: 30%;
	margin-right: 4%;
}

.work ul li img{
	width: 35%;
	padding:3%;
}

.work ul li:nth-of-type(2) img{
	width: 30%;
}

.work ul li:last-child{
	margin-right: 0;
}

.work ul li:last-child img{
	margin: 5% auto 0; 
	width: 43%;
}

.work ul li:last-child svg{
	display: none;
	margin:16% 32% 0; 
	width: 33%;
}

.path {
  stroke-dasharray: 250;
  -webkit-animation: atmos 7s linear forwards infinite;
  -moz-animation: atmos 7s linear forwards infinite;
  -o-animation: atmos 7s linear forwards infinite;
 animation: atmos 7s linear forwards infinite;
}

@-webkit-keyframes atmos {
  to {
    stroke-dashoffset: 1000;
  }
}

@-moz-keyframes atmos {
  to {
    stroke-dashoffset: 1000;
  }
}

@-o-keyframes atmos {
  to {
    stroke-dashoffset: 1000;
  }
}

@keyframes atmos {
  to {
    stroke-dashoffset: 1000;
  }
}
/*************************about*************************/

.about{
	background: url(../img/tinygrid.png) fixed;
	padding-top: 7%;
	padding-bottom: 5%;
}

.about h1
,aside h1{
	font-size: 2rem;
	margin:0;
}

.about h2
,aside h2{
	margin-top: 2%;
	margin-bottom: 2%;
	font-size: 1.3rem;
}

aside ul:nth-of-type(1) li{
	text-decoration: underline;
}

aside ul:nth-of-type(1) a:hover{
	color:#6A5AFe;
}

.about h3{
	font-size: 1rem;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.about p{
	font-weight: 300;
	margin-top: 1%;
	margin-bottom: 2%;
	max-width: 45%;
	line-height: 1.75em;
	font-size: 1.2em;
}

img.profpic {
	width: 35%;
	float:right;
}

.tools img{
	width: 30%;
}

.tools ul{
	float: left;
	width: 20%;
}

.tools ul:nth-of-type(2){
	margin-left: 7%;
}

.tools ul h2{
	margin-bottom: 5%;
}

.tools ul li{
	display: inline-block;
	margin-bottom: 3%;
	font-size: 0.95em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.interests{
	position: relative;
}

.interests ul{
	position: absolute;
	right:-4%;
	top:200%;
	text-align: right;
	width: 42%;
}

.interests ul li{
	display: inline-block;
	margin: 0 0 4%;
	width: 18%;
	min-height: 50px;
}

.interests ul li i{
	width: 20%;
	margin-right: 30%;
	display: none;
	float:right;
}

.interests #colt{
	background: url(../img/colt.png) no-repeat;
	background-size: 50px;
}

.interests #colt:hover{
	background: url(../img/colt-hover.png) no-repeat;
	background-size: 50px;
}

.interests #adt{
	background: url(../img/mudra.png) no-repeat;
	background-size: 40px;
}

.interests #adt:hover{
	background: url(../img/mudra-hover.png) no-repeat;
	background-size: 40px;
}

.interests #film{
	background: url(../img/film.png) no-repeat;
	background-size: 50px;
}

.interests #film:hover{
	background: url(../img/film-hover.png) no-repeat;
	background-size: 50px;
}

.interests #travel{
	background: url(../img/travel.png) no-repeat;
	background-size: 50px;
}

.interests #travel:hover{
	background: url(../img/travel-hover.png) no-repeat;
	background-size: 50px;
}

.interests #designation{
	background: url(../img/designation.png) no-repeat;
	background-size: 60px;
}

.interests #designation:hover{
	background: url(../img/designation-hover.png) no-repeat;
	background-size: 60px;
}

.interests ul li{
	position: relative;
}

.interests ul li h2{
	display: none;
}

.interests ul li:hover h2{
	display: block;
	font-family: 'Lato', sans-serif;
	color:#6A5AF8;
	position: absolute;
	line-height: 1.5em;
	top:50px;
	left:0;
	font-size: 0.8em;
	left:-30px;
	text-align: center;
}

.interests ul li:hover i{
	display: inline-block;
}

/*************************testimonial*************************/

.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
	bottom:15%;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a{
	background-color: #fcfcfc;
}

.bx-wrapper .bx-pager.bx-default-pager a:hover, 
.bx-wrapper .bx-pager.bx-default-pager a.active{
	background-color:#6A5AF8;
}

.bx-wrapper .bx-controls-direction a{
	top:33%;
	background-color: #6A5AF8;
	border-radius: 50%;
}

.bx-wrapper .bx-controls-direction a:hover{
	opacity: 0.8;
}

.testimonial{
	padding-top: 7%;
	padding-bottom:5%;
	color:#fcfcfc;
	background-color: #131313;
}

.testimonial blockquote{
	width: 75%;
	margin:3% auto 2%;
}

.testimonial .slide blockquote em{
		font-style: normal;
	}

.testimonial h3
,.testimonial h4
,.description h3,
.description h4{
	text-align: center;
	line-height: 1.5em;
	font-size: 1em;
}

.testimonial h4
,.description h4{
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	margin-bottom: 5%;
}

.testimonial h3
,.description h3{
	text-transform: uppercase;
	font-weight: 300;
	color: #6A5AF8;
}

.testimonial ul li{
	font-size: 1.5em;
	width: 50%;
	margin:0 auto;
}

.testimonial .slide{
	padding-bottom: 1%;
}

/**************************************************project*************************/

header.project{
	margin:0;
}

.bgd{
	background: -webkit-linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
	background: -o-linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
	background: -moz-linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
	background: linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
}

.atmos{
	background:url(../img/atmoshero.jpg) no-repeat center -170px fixed;
	background-size: cover; 
	min-height: 520px;
}

.projecthome{
	text-align: center;
}

.projecthome img{
	padding-top: 5%;
	width: 50%;
}

.overview{
	padding-top:3%;
	padding-bottom:3%;
	text-align: center;
	background: url(../img/tinygrid.png) fixed;
}

.overview ul li{
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.overview h1
,.synopsis h1{
	font-size: 1.8em;
	line-height: 1.5em;
}

.overview h2{
	font-size: 1.5em;
	line-height: 1.5em;
}

.col{
	float:left;
	width: 25%;
}

.col h1{
	margin:0;
}

.col h2{
	font-weight: 400;
}

/*************************goal*************************/

.preview
,.preview2
,.preview3{
	min-height: 300px;
}

.preview{
	background: url(../img/wbrkids.jpg)no-repeat  center 50px fixed;
	background-size: cover;
}

.preview3{
	background: url(../img/band.jpg)no-repeat center center fixed;
	background-size: cover;
}

.preview2{
	background: url(../img/atmosnapes.jpg)no-repeat center center fixed;
	background-size: cover;
}

.goal
,.process{
	float:left;
	width: 50%;
	padding:15% 3% 15%;
	height: 100vh;
	/*max-height: 600px;*/
	display: inline-block;
}

.goal{
	color:#fcfcfc;
	background-color:#131313;
}

.goal h1, 
.process h1{
	font-size: 2em;
	line-height: 2em;
}

.goal p,
.process p{
	line-height: 1.5em;
}

.process p:nth-of-type(2){
	margin-top: 2%;
}

.container2{
	width: 60%;
	margin:0 auto;	
}

.container2 h1{
	margin-top:0;
}
/*************************research*************************/

.research{
	padding-top:9%;
	padding-bottom:12%;
}

.fed h1
,.research h1{
	font-size: 2em;
	margin:0;
	margin-bottom: 5%;
}

.fed ul
,.research ul{
	width: 30%;
	display: inline-block;
	font-size: 1.3em;
}

.fed ul li,
.research ul li{
	list-style: square;
	margin:5%;
}

.research ul
{
	float:right;
}

.research img{
	width: 60%;
	float:left;
}

/*************************fed*************************/

.fed{
	padding-top:10%;
	position: relative;
	padding-bottom:10%;
	background-color: #fcfcfc;
	background: url(../img/tinygrid.png) fixed;
}

.fed img.gif{
	width: 52%;
	padding:3%;
	float:right;
}

/*************************design*************************/

.design{
	padding-top:7%;
	padding-bottom:7%;
	background: url(../img/tinygrid.png) fixed;
}

.design h1{
	font-size: 1.5em;
	text-transform: uppercase;
	margin-bottom: 1em;
}

.design h2{
	margin-bottom: 2%;
	font-size: 1.1em;
}

.design img{
	width: 100%;
	margin-right:3%;
	max-height: 400px;
}

.design article{
	float: left;
	margin-bottom: 3%;
	width: 47%;
}

.design article:nth-of-type(2){
	margin-left: 3%;
	margin-bottom: 3%;
	float: right;
}

.design article:nth-of-type(3){
	float:none;
	width: 100%;
	margin-right: 0;
}

.design article:nth-of-type(3) h2{
	width: 100%;
	float:left;
}

.design article:nth-of-type(3) img{
	width: 100%;
	max-height: 550px;
}

/*************************description*************************/
.description{
	color:#E6E7F6;
	background-color: #131313;
	padding-top: 5%;
	padding-bottom: 9%;
	min-height: 600px;
	position: relative;
}

.description h3,
.description h4{
	font-size: 1.5em;
}

.description h3{
	margin-top: 5%;
}

.description blockquote{
	font-size:1.5em;
	margin:0 auto;
}

img.results{
	box-shadow: -1px -2px 2px 1px #6A5AF8;
}

img.results:nth-of-type(1){
  	width: 70%;
  }

 img.results:nth-of-type(2){
 	margin-left: 1%;
 	margin-top:10%;
 	width: 20%;
 	position: absolute;
 	top:10%;
 	right:20%;
  	z-index: 200;
 }

.description p:nth-of-type(2){
	padding-top: 2%;
}

/*************************other work*************************/

.otherwork{
	text-align: center;
	padding:2%;
	width: 100%;
	color:#fcfcfc;
	background: -webkit-linear-gradient( rgba(106,90,248,1), rgba(88,63,186,1)); 
	background: -o-linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
	background: -moz-linear-gradient( rgba(106,90,248,1),  rgba(88,63,186,1)); 
	background: linear-gradient( rgba(106,90,248,1), rgba(88,63,186,1)); 
	text-transform: uppercase;
}

.otherwork h3{
	font-size: 1.5em;
	display: inline-block;
	margin-bottom:3%;
}

.otherwork ul li{
	display: inline-block;
	margin:2%;
}

/*************************footer*************************/

footer a{
	color:#131313;
}

footer h2{
	display: inline-block;
	padding:0;
	margin:1% 0 0;
	font-size: 1.5em;
}

footer ul{
	display: inline-block;
	float: right;
	width: 40%;
	text-align: center;
}

footer ul li{
	font-size: 1.5em;
	text-align: center;
	padding:5%;
	display: inline-block;
}

footer ul li:last-child{
	margin:0;
}


/**************************************************media queries*************************/

@media screen and (max-width:1100px){
	header img{
	width: 4%;
	}

	.home h1{
		margin-top: 20%;
	}

	.projecthome img{
		width: 60%;
		padding-top: 11%;
	}
}

@media screen and (max-width:940px){

	.home h1{
		margin:25% auto 3%;
	}

	.projecthome img{
		width: 65%;
		padding-top: 15%;
	}

	.work ul li img{
		margin-top: 5%;
		width: 45%;
	}

	.work ul li:nth-of-type(2) img{
		margin-top: 10%;
	}

	.work ul li:last-child img{
	width: 60%;
	/*padding:0;*/
	}

	.work ul li:last-child svg{
	width: 50%;
	margin-left: 20%;
	/*padding:0;*/
	}
}

@media screen and (max-width:770px){
	header img{
		width: 5%;
	}

	header nav ul{
		display: none;
		position: absolute;
		padding:1%;
		top:50px;
		right:0;
		z-index: 9999;
		text-align: center;
		background-color: #EFE234;
	}

	header nav ul li{
		display: block;
		padding:5%;
			}

	header.project nav ul li a{
		color:#000;
	}

	header nav.homenav ul li a{
		color:#000;
	}

	header nav button{
		display: inline-block;
		margin-top: 4%;
	}

	.site{
		display: none;
	}
	/**********home**************/

	.home{
		min-height: 550px;
	}

	.home h1{
		margin-top: 30%;
		/*text-align: */
		font-size: 7.5em;
	}

	.home h2{
		margin-top: 5%;
		font-size: 1.9em;
	}

	/**********work**************/
	.work ul li{
		width: 45%;
		margin-bottom: 3%;
		height: 300px;
	}
/**********about**************/

	.about h1, 
  	.about h2{
  		margin-top: 3%;
  		text-align: center;
  	}

  	.about h2{
  		font-size: 1.8em;
  		font-weight: 300;
  		line-height: 1.3em;
  		width: 80%;
  		margin:3% auto 2%;
  	}

	  .about p{
	  	max-width: 100%;
	  	/*text-align: left;*/
	  	float:none;
	  	margin-top: 7%;
	  }

  	.about img{
		width: 65%;
		float:none;
		display: block;
		margin:1% auto 5%;
	}

	aside{
		display: none;
	}

/**********testimonial**************/

	.bx-wrapper{
		width: 100%;
	}

	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
		width: 100%;
	}

	.bx-wrapper .bx-prev{
		left:0;
	}

	.bx-wrapper .bx-next{
		right:0;
	}

	.testimonial ul li{
		/*text-align: center;*/
		font-size: 0.9em;
	}

	.testimonial blockquote{
		margin-left: 15%;
		margin-top: 15%;
		width: 75%;
	}

	.testimonial h3{
		margin-top: 7%;
	}

	.bx-wrapper .bx-pager, .bx-wrapper .bx-controls-auto{
		bottom:0;
	}

	/**********project nav**************/

	/**********project overview**************/
	.projecthome img{
		width: 80%;
		padding-top: 25%;
		padding-bottom: 15%;
	}

	.col1of4{
		display: block;
		width: 100%;
	}

	.col2of4, .col3of4{
		width: 50%;
	}

	.col4of4{
		width: 100%;
	}
	.overview button{
		display: inline-block;
		width: 49%;
		margin-right: 1%
	}
	/**********project goal**************/

	.synopsis,
	.synopsis2,
	.synopsis3{
		min-height: 400px;
		padding-top: 20%;
	}

	.synopsis p,
	.synopsis2 p,
	.synopsis3 p{
		font-size: 1.2em;
		width: 100%;
	}

	.synopsis p{
		color:#131313;
	}

	.container2{
		width: 80%;
		margin:0 auto;
	}

	.gigscout{
		padding-bottom: 0;
	}

	/**********project research and fed**************/

	.research ul
	,.research img{
		float:none;
	}

	.research h1{
		margin-top: 5%;
	}

	.research img{
		width: 95%;
	}

	.fed ul
	,.research ul{
	display: block;
	width: 85%;
	margin:0 auto;
	font-size: 1.2em;
	}

	.fed img.gif {
	margin-top: 10%;
  	width: 95%;
  }
    /**********design**************/
    .design article:nth-of-type(1)
    ,.design article:nth-of-type(2){
    	float:none;
    	display: block;
    	width: 100%;
    }

    .design article:nth-of-type(2){
    	margin-left: 0;
    }

     .design article:nth-of-type(1) img
    ,.design article:nth-of-type(2) img{
    	width: 100%;
    }
  /**********project recap**************/
  .description{
  	padding-top:15%;
  	padding-bottom: 18%;
  	min-height: 300px
  }

  .description blockquote{
  	font-size: 1em;
  }

  .description p:nth-of-type(2){
  	padding-top: 7%;
  }

/**********footer**************/

	footer h2,
  	footer ul{
	float:none;
	display: block;
	width: 100%;
	}

	footer ul li{
		font-size: 1.3em;
		padding:2%;
	}
}

@media screen and (max-width:700px){
	header img{
	width: 5%;
	}

	.goal,
	.process{
		float:none;
		width: 100%;
		height:auto;
	}

	.work ul li {
		width: 100%;
		margin-bottom: 7%;
		height: auto;
	}
}

@media screen and (max-width:500px){
	header img{
	width: 10%;
	}

	header nav.homenav ul li:nth-of-type(4){
		display: none;
	}

	.testimonial{
		display: none;
	}

	.atmos{
	background:url(../img/atmosheromobile.jpg) no-repeat center -50px fixed;
	background-size: 450px 600px;
	min-height: 520px;
	}

}
