//Font Stacks 
$font-url--google1: 'https://fonts.googleapis.com/css?family=Oswald:300,400';
$font-url--google2: 'https://fonts.googleapis.com/css?family=Merriweather:400,300';
$font-family--primary: 'Oswald', sans-serif; 
$font-family--secondary: 'Oswald', sans-serif; 

$font-weight--thin: 100 ; 
$font-weight--light: 300 ;
$font-weight--medium: 400 ;  
$font-weight--bold: 700 ; 

//Color Palette 

$violet: #6A5AF8;
$yellow: #EFE234;
$gray: #ccc;