//Font Stacks 
$font-url--google1: 'https://fonts.googleapis.com/css?family=Oswald:300,400';
$font-url--google2: 'https://fonts.googleapis.com/css?family=Merriweather:400,300';
$font-family--primary: 'Oswald', sans-serif; 
$font-family--secondary: 'Oswald', sans-serif; 