/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}



/***Clearfix by Nicolas Gallagher***/
.clearfix:before,
.clearfix:after{
  content: " ";
  display:table;
}

.clearfix:after{
  clear:both;
}

.clearfix{
  *zoom:1;
}

html, 
body{ 
  width: 100%; 
}

body {
  font-family: 'Vollkorn', serif;
  margin: 0 3% 0;
  background: url(../img/tinygrid.png) repeat fixed; 
  }

header h1{
  display: inline-block;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
}

nav ul{
  float:right;
}

nav ul li{
  list-style: none;
  display: inline-block;
}

nav img{
  width: 20%;
}

h2{margin-top: 10%;
  color: #886565;
  font-family: 'Oswald', sans-serif;
}

h3{
  display: block;
  margin:1%;
  color: #886565;
  font-size: .85rem;}

h4{text-decoration: underline;}


h5{ 
  color: #886565;
  font-size: 1.25rem;}

h6{color:red;
  font-size: 1rem;}


a{ 
  color: #000;
  text-decoration: none; 
}

a:hover{ 
  color: #000; 
}

a:visited{
  color: #000;
}

.sitecontent{
              margin: 0% 20% 0;
            }

.sitecontent li{list-style-type: none;
                margin-top: 5%;}

.asgn1 img{width:20%;
          max-height: 25%;}

/*****************************tables*******************/

#css-table{
          display: inline-block;
          width: 95%;
          font-size: .85rem;
          text-align: left;
          margin: 5% 0 3%;}

#css-table tr, td, th{
    padding:1% 2% 0;
     border: 1px #A9A9A9;
}

#css-table td{color:#000;}

#css-table th { 
  /*  padding:0;
    margin:0;*/
    color: #886565;}

.tableimg img {width: 65%;
              max-height: 30%;
              padding:0;
              margin:0;
              }


.tableimg2 img{width:300%;
                max-height: 200%;}
